@import "tailwindcss";

@theme {
  --color-primary: #065f46;
  --color-primary-800: #033124;
  --color-light-green: #569281;
  --color-gray-green: #475248;
  --color-white-border: #dadfe3;
  --color-green-white: #fafaf8;
  --color-white-100: #ededed;
  --color-light-black: #2b2b2b;
  --color-green-50: #b9d2cb;
  --color-success: #37a558;
  --color-light-success: #9fedb6;
  --color-light-pending: #fdeebd;
  --color-warning: #aa8f36;
  --color-light-warning: #fdeebd;
  --color-dangres: #841b1b;
  --color-light-dangres: #f9aaaa;
  --color-light-cancel: #f9aaaa;
  --color-light-info: #9ae3d8;
  --text-xxs: 10px;
  --text-26: 26px;
  --text-16: 16px;
  --text-40: 40px;
  --text-22: 22px;
}

body {
  background-color: #fafaf8;
}

@layer utilities {
  .input-shadow,
  .btn-shadow {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }
  .green-shadow {
    box-shadow: 0 4px 4px #569281;
  }
  .dashboard-shadow {
    box-shadow: 0px 4px 6px #a5c5bc;
  }
  .glass-effect {
    background: transparent;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    /* box-shadow: 0 0 30px 0px rgba(0, 0, 0, 0.3); */
  }
  .linear {
    background: linear-gradient(135deg, #065f46 0%, #43a047 100%);
  }
}

/* Edge */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* بعض المتصفحات المبنية على Chromium */
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-textfield-decoration-container {
  display: none;
}
